{{#each messages as |message|}}
  <div class="row msg_container base_receive">
    <ChatMessage @message={{message}} />
  </div>
{{/each}}
<div class="panel-footer">
  <div class="input-group">
    {{ input value=newMessage type="text" class="form-control input-sm chat_input" placeholder="Write your message here..."}}
    <span class="input-group-btn">
      <button class="btn btn-primary btn-sm" {{action "newMessage"}}>Send</button>
    </span>
  </div>
</div>